@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply lg:w-[35rem] px-3 py-2 border-b border-b-gray-300 bg-darkprimary outline-none w-4/5;
}
.error{
    @apply text-red-500 text-sm font-semibold;
}



.active-link{
    @apply text-black bg-yellow rounded-md p-2  font-semibold;
}


.custom-auth-modal .ant-modal-content {
  background-color: #1b1a1e !important;
}





.text-animation{
    animation: textAnimation 5s infinite;
    background: linear-gradient(to right, #ff0000, #ffff00, #1b1a1e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 0% 50%;

}

@keyframes textAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}